//NHS subset editor sab
import java.io.File;
import java.net.SocketPermission;
import java.security.Permission;
import java.util.UUID;
import java.lang.String;

import net.jini.config.AbstractConfiguration;
import net.jini.discovery.LookupDiscovery;
import net.jini.lookup.ServiceDiscoveryManager;
import net.jini.security.BasicProxyPreparer;

org.ihtsdo.db.runner.WorkbenchRunner {
	initFromSubversion = Boolean.TRUE;
	csImportOnStart = new String[] { "profiles" };
	svnUpdateOnStart = new String[] {
    	"berkeley-db/mutable"
	};
    svnCheckoutOnStart = new String[] { 
    	"https://csfe.aceworkspace.net/svn/repos/workbench/wb-sample-pa/trunk/queues/src/main/queues|queues",
    	"https://csfe.aceworkspace.net/svn/repos/workbench/wb-sample-pa/trunk/profiles/src/main/profiles/startup|profiles/startup",
    	"https://csfe.aceworkspace.net/svn/repos/workbench/wb-sample-pa/trunk/profiles/src/main/profiles/shutdown|profiles/shutdown",
    	"https://csfe.aceworkspace.net/svn/repos/workbench/wb-sample-pa/trunk/database-synchronized/src/main/berkeley-db/mutable/|berkeley-db/mutable"
    	};
    svnCheckoutProfileOnStart = "https://csfe.aceworkspace.net/svn/repos/workbench/wb-sample-pa/trunk/profiles";
    aceConfigFile = new File("profiles");
    dbFolder = new File("berkeley-db");
    logTimingInfo = Boolean.TRUE;
}

org.dwfa.bpa.gui.ProcessBuilderPanel {
    defaultOrigin = new String("dwa1@informatics.com");
}

org.dwfa.bpa.worker.MasterWorker {
    	name = " Queue viewer worker";
        
    startupDirectory = new File("processes/startup/launcher");

    tranDurLong = new Long(3600000);
    initialLookupGroups = new String[] { org.dwfa.jini.ConfigUtil.getUniqueJvmGroup() };


    private groups = initialLookupGroups;
    serviceDiscovery = new ServiceDiscoveryManager(
        new LookupDiscovery(groups, this), null, this);

    preparer =
	new BasicProxyPreparer(false,  new Permission[] {new SocketPermission("*:1024-", "connect") });
    exporter = new net.jini.jeri.BasicJeriExporter(net.jini.jeri.tcp.TcpServerEndpoint.getInstance(0), new net.jini.jeri.BasicILFactory());
}//org.dwfa.bpa.worker.MasterWorker

/* Configuration block for the lookup discovery utility */
net.jini.discovery.LookupDiscovery {

    registrarPreparer = new BasicProxyPreparer(
	false /* verify */,
	new Permission[] {
	    new SocketPermission("*:1024-", "connect")
	});

}//end net.jini.discovery.LookupDiscovery

/* Configuration block for the SDM */
net.jini.lookup.ServiceDiscoveryManager {

    registrarPreparer = net.jini.discovery.LookupDiscovery.registrarPreparer;

}//end net.jini.lookup.ServiceDiscoveryManager
