/* Security policy for SSL server */

/* Keystore containing trusted certificates to use for authentication */
keystore "..${/}prebuiltkeys${/}truststore";

/* Grant all permissions to local JAR files */
grant codeBase "file:${/}-" {
    permission java.security.AllPermission;
};

/* Grant permissions to client principal */
grant principal "client" {
    permission com.informatics.log.LogManagerPermission "getLoggerNames";
    permission com.informatics.log.LogManagerPermission "getLevel";
    permission com.informatics.log.LogManagerPermission "isLoggable";
    permission com.informatics.log.LogManagerPermission "addRemoteHandler";
    permission com.informatics.log.LogManagerPermission "removeRemoteHandler";
};

/* Grant permissions to all principals */
grant {
    /* Call getProxyVerifier method */
    permission com.informatics.bpa.queue.QueueServerPermission "getProxyVerifier";
};

