import net.jini.jrmp.JrmpExporter;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.reggie {
    initialMemberGroups = new String[] { "org.dwfa.discovery" };
    minMaxServiceLease = 30000; //30 seconds
    unicastDiscoveryHost = ConfigUtil.getHostAddress();
    exporter = new net.jini.jeri.BasicJeriExporter(net.jini.jeri.tcp.TcpServerEndpoint.getInstance(0), new net.jini.jeri.BasicILFactory());
}
