import java.io.File;
import java.net.SocketPermission;
import java.security.Permission;
import java.util.UUID;

import net.jini.config.AbstractConfiguration;
import net.jini.discovery.LookupDiscovery;
import net.jini.lookup.ServiceDiscoveryManager;
import net.jini.security.BasicProxyPreparer;


org.dwfa.queue.QueueViewerFrame {

}

org.dwfa.bpa.worker.MasterWorker {
    	name = "UniqueConfig Queue viewer worker";
        
    startupDirectory = new File("processes/startup/launcher");

    tranDurLong = new Long(3600000);
    initialLookupGroups = new String[] { "org.dwfa.discovery" };


    private groups = initialLookupGroups;
    serviceDiscovery = new ServiceDiscoveryManager(
        new LookupDiscovery(groups, this), null, this);

    preparer =
	new BasicProxyPreparer(false,  new Permission[] {new SocketPermission("*:1024-", "connect") });
    exporter = new net.jini.jeri.BasicJeriExporter(net.jini.jeri.tcp.TcpServerEndpoint.getInstance(0), new net.jini.jeri.BasicILFactory());
}//org.dwfa.bpa.worker.MasterWorker

/* Configuration block for the lookup discovery utility */
net.jini.discovery.LookupDiscovery {

    registrarPreparer = new BasicProxyPreparer(
	false /* verify */,
	new Permission[] {
	    new SocketPermission("*:1024-", "connect")
	});

}//end net.jini.discovery.LookupDiscovery

/* Configuration block for the SDM */
net.jini.lookup.ServiceDiscoveryManager {

    registrarPreparer = net.jini.discovery.LookupDiscovery.registrarPreparer;

}//end net.jini.lookup.ServiceDiscoveryManager
