import java.net.SocketPermission;
import java.security.Permission;
import javax.security.auth.login.LoginContext;


import org.dwfa.aa.GeneratorUuid;

import net.jini.config.AbstractConfiguration;
import net.jini.core.entry.Entry;
import net.jini.discovery.LookupDiscovery;
import net.jini.id.Uuid;
import net.jini.id.UuidFactory;
import net.jini.lookup.entry.Name;
import net.jini.lookup.ServiceDiscoveryManager;
import net.jini.security.BasicProxyPreparer;

org.dwfa.aa.AssignmentAuthorityService {
    exporter = new net.jini.jeri.BasicJeriExporter(net.jini.jeri.tcp.TcpServerEndpoint.getInstance(0), new net.jini.jeri.BasicILFactory());
    initialLookupGroups = new String[] { "org.dwfa.discovery" };
    generator = new GeneratorUuid();
    entries = new Entry[] { new Name("UniqueConfig Uuid based assignment authority") };
    

    private groups = new String[] { "org.dwfa.discovery" };
    discoveryManager = new LookupDiscovery(groups, this);

}

/* Configuration block for the lookup discovery utility */
net.jini.discovery.LookupDiscovery {

    registrarPreparer = new BasicProxyPreparer(
	false /* verify */,
	new Permission[] {
	    new SocketPermission("*:1024-", "connect")
	});

}//end net.jini.discovery.LookupDiscovery

/* Configuration block for the SDM */
net.jini.lookup.ServiceDiscoveryManager {

    registrarPreparer = net.jini.discovery.LookupDiscovery.registrarPreparer;

}//end net.jini.lookup.ServiceDiscoveryManager
