import org.dwfa.queue.DefaultQueueComparator;
import org.dwfa.queue.QueueServerPermission;
import org.dwfa.queue.QueueWorkerSpec;
import org.dwfa.queue.bpa.worker.AllGroupsOutboxQueueWorker;
import org.dwfa.queue.bpa.worker.InboxQueueWorker;
import org.dwfa.queue.bpa.worker.HeadlessQueueWorker;
import org.dwfa.jini.ElectronicAddress;
import org.dwfa.bpa.process.I_SelectProcesses;
import org.dwfa.queue.SelectIfDeadlineOverdue;
import org.dwfa.queue.SelectAll;

import com.sun.jini.config.KeyStores;
import com.sun.security.auth.callback.DialogCallbackHandler;

import java.io.File;
import java.net.SocketPermission;
import java.security.Permission;
import java.util.Collections;
import java.util.UUID;

import javax.security.auth.login.LoginContext;

import net.jini.config.AbstractConfiguration;
import net.jini.constraint.*;
import net.jini.core.constraint.*;
import net.jini.core.entry.Entry;
import net.jini.discovery.LookupDiscovery;
import net.jini.id.Uuid;
import net.jini.id.UuidFactory;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import net.jini.jeri.ssl.*;
import net.jini.lookup.entry.Name;
import net.jini.lookup.ServiceDiscoveryManager;
import net.jini.security.*;
import net.jini.security.BasicProxyPreparer;


org.dwfa.queue.QueueServer {
    exporter = new net.jini.jeri.BasicJeriExporter(net.jini.jeri.tcp.TcpServerEndpoint.getInstance(0), new net.jini.jeri.BasicILFactory());

    objectGetter = new org.dwfa.queue.DefaultObjectInputStreamCreator();
    loginContext = new LoginContext("org.dwfa.queue.QueueServer.inbox");
	
    initialLookupGroups = new String[] { "org.dwfa.discovery" };

    entries = new Entry[] { org.dwfa.jini.TermEntry.getInboxQueueType(), new Name("UniqueConfig Inbox Queue"), 
							new ElectronicAddress("inbox.UniqueConfig@informatics.com") };
    
    workerSpecs = new QueueWorkerSpec[] { 
        //new QueueWorkerSpec(InboxQueueWorker.class, "Inbox POP worker", UUID.randomUUID(),
        //                    new SelectAll(), new String[] { "config/inboxQueueWorkerSecure.config" }) 
     };
    nativeComparator = new DefaultQueueComparator();
    directory = new File("queue/dynamic/Inbox");
    nodeInboxAddress = new String("dwa1@informatics.com");
    
    
    /* Public Key Certificates */
    private static users = 
        KeyStores.getKeyStore("file:prebuiltkeys/truststore", null);

    private static reggie = 
	KeyStores.getX500Principal("reggie", users);
    private static server = 
	KeyStores.getX500Principal("server", users);

    private static reggieUser = Collections.singleton(
	KeyStores.getX500Principal("reggie", users));
    private static serverUser = Collections.singleton(
	KeyStores.getX500Principal("server", users));

    /* Exporter for the server proxy */
    exporter =
	/* Use secure exporter */
	new BasicJeriExporter(
	    /* Use SSL transport */
	    SslServerEndpoint.getInstance(0),
	    /* Support ProxyTrust */
	    new ProxyTrustILFactory(
		/* Require integrity for all methods */
		new BasicMethodConstraints(
		    new InvocationConstraints(Integrity.YES, null)),
		/* Require QueueServerPermission */
		QueueServerPermission.class));

    private groups = initialLookupGroups;
    discoveryManager = new LookupDiscovery(groups, this);

}

/* Configuration block for the lookup discovery utility */
net.jini.discovery.LookupDiscovery {

    private serviceLookupConstraints = 
	new BasicMethodConstraints( 
	    new InvocationConstraints( 
		new InvocationConstraint[]{ 
		    Integrity.YES,
                    ClientAuthentication.YES,
                    ServerAuthentication.YES,
                    new ServerMinPrincipal(
			org.dwfa.queue.QueueServer.reggieUser)
                    },
                null));

    static registrarPreparer = new BasicProxyPreparer(
	true,
        serviceLookupConstraints,
        new Permission[] { 
	    new AuthenticationPermission(
		org.dwfa.queue.QueueServer.serverUser,
		org.dwfa.queue.QueueServer.reggieUser,
		"connect") 
	    });

}//end net.jini.discovery.LookupDiscovery

/* Configuration block for the join manager */
net.jini.lookup.JoinManager {

    static registrarPreparer    = 
	net.jini.discovery.LookupDiscovery.registrarPreparer;
    static registrationPreparer = 
	net.jini.discovery.LookupDiscovery.registrarPreparer;
    static serviceLeasePreparer = 
	net.jini.discovery.LookupDiscovery.registrarPreparer;

}//end net.jini.lookup.JoinManager


